body {
	padding-bottom: 10px;
}

#mainbody {
	padding: 20px;
	padding-bottom: 0;
}

.uk-description-list-line {
	font-weight: 700;
}

dt {
	font-weight: 700 !important;
}

dd {
	color: black !important;
}

ul, li {
	list-style-type: none;
}

iframe {
	width: 80%;
	vertical-align: middle;
	height: 155%;
}

/* mouse over link */
a:hover {
    color: red;
    text-decoration: none;
}

.pdf-viwer {
	width: 1024px;
	padding: 50px 100px 50px 300px;
}

.content {
	padding: 50px 100px 0 300px;
	font-size: 20px;
}


#download {
	margin-right: 100px;
}

h3 {
	color: white;
}

